<div class="banner">
  <div class="banner-content">
    <h1>Build your own support network</h1>
    <p>Stigma and prejudice around mental health stop people from getting help. Pulse enables you to seek help instantly</p>
  </div>
  <div class="join-now">
    <a class="btn btn-primary btn-lg">Join now</a>
  </div>
</div>
